.header {
  width: 100%;
  height: 68px;
  padding: 24px;

  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;

  background-color: var(--badges);
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.navList a {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
}

.navList a:hover,
.navList a:focus,
.navList a.active {
  color: var(--button-hover);
}

.iconLogo {
  width: 104px;
  height: 16px;

  display: inline-block;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 120px;
  }
}
