.carCard {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 276px;
}

.favorites {
  position: absolute;
  top: 16px;
  right: 16px;

  background-color: transparent;
  border: none;
}

.favorites .icon {
  color: var(--badges);
  fill: none;
  stroke: var(--badges);
}

.favorites .iconActive {
  color: var(--button);
}

.carImage {
  border-radius: 14px;
  margin-bottom: 16px;
}

.carInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.additionalInfo {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 6px;
}

.additionalInfo li {
  display: flex;
  align-items: center;
}

.additionalInfo li:not(:last-child)::after {
  content: "|";
  margin-left: 6px;
}
