.button {
  padding: 12px;
  margin: 0 auto;
  height: 44px;
  width: 156px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--button);
  border-radius: 8px;

  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  white-space: nowrap;

  color: var(--main);
  background-color: transparent;
}

.button:hover,
.button:focus {
  border-color: var(--button-hover);
}

.button.blue {
  border: none;
  background-color: var(--button);
  color: var(--white);
}

.button.blue:hover,
.button.blue:focus {
  border: none;
  background-color: var(--button-hover);
  color: var(--white);
}
