.heroSection {
  height: calc(100vh - 68px);
  position: relative;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;

  min-width: 80%;
}
