.carDetailsWrapper {
  display: grid;
  column-gap: 72px;
  row-gap: 40px;
  grid-template-columns: 640px 1fr;
  grid-template-rows: 1fr 1fr;
}

.carInfo {
  grid-row: span 2;
  padding-top: 20px;

  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
  height: 100%;
}

.basicInfo {
  margin-bottom: 68px;
}

.meta {
  margin-bottom: 32px;
}

.firstLineWrapper,
.secondLineWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.secondLineWrapper {
  margin-bottom: 16px;
}

.addressWrapper {
  display: flex;
  align-items: center;
  gap: 2px;
}

.icon {
  width: 16px;
  height: 16px;
}

.specsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.specsItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
